.nav_rigth{
    flex: 1 1 auto;
    display: flex;
}

.nav_links,.theme_btn{
    flex: 1 1 auto;
}
/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
/* 
font-family: 'Merienda', cursive;
font-family: 'Poppins', sans-serif;
*/

/* css reset */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: all 0.3s ease-in;
    font-family: 'Poppins', sans-serif;
}

/* Root Variables */
:root {
    /*______Light Theme______*/
    --white_color: #ffffff;
    --main_color: #a955ed;
    --black_color: #111111;
    --shadow_color: #cfcfcf;
    --text_color: #222222;
    
    /*______Dark Theme______*/
    /*--white_color: #111111;
    --main_color: #a955ed;
    --black_color: #ffffff;
    --shadow_color: #050505;
    --text_color: #f3f3f3;*/
}

body {
    width: 100vw;
    overflow-x: hidden;
    background: var(--white_color);
}

body.active {
    --white_color: #111111;
    --main_color: #a955ed;
    --black_color: #ffffff;
    --shadow_color: #050505;
    --text_color: #f3f3f3;
}

.navbar {
    width: 100%;
    height: 70px;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--white_color);
    border-bottom: 1px solid var(--shadow_color);
}

.logo .logoImg {
    width: 80px;
}

.nav_right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.nav_links {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 30px;
}

.nav_links li {
    list-style: none;
    display: inline;
    margin: 0 15px;
}

.nav_links li a {
    font-size: 16px;
    text-transform: uppercase;
    color: var(--black_color);
    font-weight: 500;
    letter-spacing: 0.3px;
    position: relative;
}

.nav_links li a::before {
    content: '';
    width: 0%;
    height: 3px;
    border-radius: 10px;
    background: var(--main_color);
    position: absolute;
    bottom: -3px;
    right: 10px;
}

.nav_links li a.active::before,
.nav_links li a:hover::before {
    width: 60%;
}

.nav_links li a.active,
.nav_links li a:hover {
    color: var(--main_color);
}

.theme_btn {
    width: 58px;
    height: 28px;
    border-radius: 30px;
    border: 2px solid var(--black_color);
    cursor: pointer;
    position: absolute;
    right: 10px;
}

.themeBtnToggle {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    background: var(--black_color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
}

.themeBtnToggle.active {
    left: 75%;
}

.themeIcon {
    width: 100%;
    height: 100%;
}

/* menu Toggle Icon For Responsive Devices */

.toggleMenu {
    display: none;
    width: 38px;
    height: 34px;
    position: relative;
    cursor: pointer;
}

.line {
    position: absolute;
    height: 5px;
    border-radius: 10px;
    background: var(--main_color);
}

.line.line_1 {
    width: 60%;
    right: 0;
    top: 0;
}

.line.line_1.active {
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}



/* hero Section */
.hero_sec {
    width: 100%;
    height: 800px;
    min-height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.hero_img {
    border-radius: 10% 40% 20% 35%;
    border: 2px solid var(--main_color);
    box-shadow: inset 0 0 70px 10px var(--main_color);
}

.hero_content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* overflow: hidden; */
}

.intro_heading {
    font-size: 22px;
    color: var(--main_color);
    font-weight: 400;
    letter-spacing: 0.3px;
    text-transform: capitalize;
}

.name_heading {
    font-size: 76px;
    color: var(--black_color);
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    font-family: 'Merienda', cursive;
}

.skills_heading {
    font-size: 26px;
    font-weight: 450;
    color: var(--black_color);
    letter-spacing: 0.4px;
    text-transform: capitalize;
}

.skills_heading .textTyper {
    font-size: 30px;
    color: var(--main_color);
    position: relative;
}

.skills_heading .textTyper::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--white_color);
    border-left: 2px solid var(--main_color);
    animation: textTyper 5s steps(30) infinite;
}

@keyframes textTyper {
    0% {
        left: 0;
    }

    40%, 60% {
        left: 102%;
    }

    100% {
        left: 0;
    }
}

.hero_btn {
    width: 170px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.3px;
    text-transform: capitalize;
    color: var(--white_color);
    background: var(--black_color);
    margin-top: 15px;
    border-radius: 40px 15px 40px 10px;
}

.hero_btn:hover {
    background: var(--main_color);
    transform: scale(1.05);
}